{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}




{% block styles %}

{{ super() }}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" media="all"> 


{% endblock %}


{% block title %} ProteinPrompt {% endblock %} 
  
{% block body %}

<div id="header">
  <div id="title"> 
    <div id="logo" style="float:left;">
      <a href="{{ request.host + '/' }}" target ="_new">
	<img src="{{ url_for( 'static', filename ='img/logo_small.jpg' )}}" id="logopic" alt="ProteinPrompt Logo">
      </a>
    </div>
    <div id="uber">
      <h2 class="header"> ProteinPrompt <br> Predicting protein-protein interactions from sequence </h2>	
    </div>
  </div>
  
</div>
<br><br>
<div id="navigation" style="float:left">
  <div>
    <div>
      <span>ProteinPrompt</span>
    </div>
    <div>
      <a href="/">Submit Job</a><br>
      <a href="/queue">Queue </a><br>
      <a href="/list_results">Results</a><br>
      <a href="/methods">Methods</a><br>
      <a href="http://proteinformatics.de">Links</a><br>
    </div>
  </div>
</div>

{{ super() }}

<footer>
  <center>
    <h4 class="btn btn-default"> Please cite: Sebastian Canzler, Ren&eacute; Staritzbichler: <i> ProteinPrompt, fast and accurate prediction of protein-protein interactions</i>, 2018 </h4>
  </center>
  <br><br>
  <p> Terms and conditions: ProteinPrompt if free for non-commercial users and comes with absolutely no warranty.</p>
  <p> Report issues or comments: <a href="mailto:web@proteinformatics.org"> webmaster </a> </p>
  <p> &copy; Ren&eacute; Staritzbichler, 2018</p>
</footer>
{% endblock %}
  

{% block content %}
<div class="container">
  {% block page_content %}{% endblock %}

  
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    {{message}}
    <button type="button" class="close" data-dismiss="alert"> &times; </button>
  </div>
  {% endfor %}

</div>
{% endblock %}

