{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}




{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename="prompt.css")}}" media="all">
<style type="text/css">
  <!--
.warning{
font-weight:bold;
color:red;
}
    -->
  </style>
{% endblock %}


{% block title %} ProteinPrompt {% endblock %} 
  
{% block body %}

<div id="header">
  <div id="title"> 
    <div id="logo" style="float:left;">
      <a href="{{ request.host + '/' }}" target ="_new">
	<img src="{{ url_for( 'static', filename ='img/logo_small.jpg' )}}" id="logopic" alt="ProteinPrompt Logo">
      </a>
    </div>
    <div id="uber" style="margin:20px;padding:20px;">
      <h2> ProteinPrompt <br> Predicting protein-protein contacts from sequence </h2>	
    </div>
  </div>
  
</div>
<br><br>
<div id="navigation" style="float:left">
  <div> <!-- class="ui-widget ui-nav-box"> -->
    <div> <!-- class="ui-widget-header"> -->
      <span>ProteinPrompt</span>
    </div>
    <div>  <!-- class="ui-widget-content"> -->
      <a href="/">Submit Job</a><br>
      <a href="/results">Results</a><br>
      <a href="/methods">Methods</a><br>
      <a href="/links">Links</a><br>
    </div>
  </div>
  
</div>

{{ super() }}

<footer style="padding:5pt">
  <p> Report issues or comments: <a href="mailto:web@proteinformatics.org"> webmaster </a> </p>
  <p> &copy; Ren&eacute; Staritzbichler, 2018</p>
</footer>
{% endblock %}
  

{% block content %}
<div class="container">
  {% block page_content %}{% endblock %}

  
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    {{message}}
    <button type="button" class="close" data-dismiss="alert"> &times; </button>
  </div>
  {% endfor %}

</div>
{% endblock %}

