{% extends "base.html" %}

{% block title %}{{super()}} - Submit Query {% endblock %}

{% block page_content %}
{{super()}}

<center>
  
  <h3> Submit your protein sequence to search for potential protein binders.</h3>

  <br><br>

  <br><br>


  <br><br>
  <form method="POST">

     <p>Drop your sequence here:<br> <input type="text" name="sequence" size="80" value="{{ sequence }}"></p>
     <p>Tag your job for identification:<br> <input type="text" name="tag" size="40" value="{{ tag }}"></p>
     <p>Your email (optional):<br> <input type="text" name="email" size="40" value="{{ email }}"></p>

     <div class="dropdown">
       Select Database to scan your query sequence against:<br>
       <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Human
	 <span class="caret"></span></button>
       <ul class="dropdown-menu">
	 <li><a href="#">Human</a></li>
	 <li><a href="#">Vertebrata</a></li>
	 <li><a href="#">Mammalia</a></li>
	 <li><a href="#">Metazoa</a></li>
       </ul>
     </div>
     
  </form>
  <br><br>

  <!--
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.db.label }}<br>
            {{ form.db() }}
    </p>
  </form>
  <br><br>
  -->
  
  <!--<button onclick="submit_job();">Start Long Calculation</button><br><br>-->
  <button id="start-bg-job">Submit your query to the server</button><br><br>
  <div id="progress"></div>

  <br>

</center>  
{% endblock %}

{% block scripts %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
      function submit_job() {
            // add task status elements
            div = $('<div class="progress"><div></div><div></div><div></div><div></div></div><hr>');
            $('#progress').append(div);

            // send ajax POST request to start background job
            $.ajax( {
                type: 'POST',
                url: '/submit',
                data: $('form').serialize(),
               success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url, status_div) {
           // send GET request to status URL
           $.getJSON(status_url, function(data) {
              // update UI
              $(status_div.childNodes[0]).text('Status:' + data['state']);
              $(status_div.childNodes[1]).text('Status:' + data['status']);
      if( data['status'] == 'completed'){

      <!--
	  setTimeout( "window.location.href='results/{{email}}/{{tag}}'",10000);
// -->
      
      $(status_div.childNodes[2]).text('you should be redirected soon, elsewise find results here:' );
      var a = document.createElement('a');
      var t = document.createTextNode("click me");
      a.appendChild(t);
      a.title = "click";
      a.href = "results/{{email}}/{{tag}}";
      $(status_div.childNodes[2]).html( "<a href='results/{{email}}/{{tag}}'>le click</a>");
      document.body.appendChild(a);
      
              }
              else {
                 // rerun in 2 seconds
                 setTimeout(function() {
                    update_progress(status_url, status_div);
                 }, 5000);
              }
           });
        }
        $(function() {
            $('#start-bg-job').click(submit_job);
        });
   </script>

  {{ super() }}
   
{% endblock %}
